<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <button onclick="javascript:KakaoLogin()">
      <img src="https://cdn.imweb.me/thumbnail/20220403/a8e484f2dfe39.png" style="height: 60px" />
    </button>

    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script>
      window.Kakao.init("7e510a88b68e84e4377a5326486ba9be");
      function KakaoLogin() {
        window.Kakao.Auth.login({
          scope: "	profile_nickname,account_email",
          success: function (authObj) {
            console.log(authObj);
            window.Kakao.API.request({
              url: "/v2/user/me",
              success: (res) => {
                const kakao_account = res.kakao_account;
                console.log(kakao_account);
              }
            });
          }
        });
      }
    </script>
  </body>
</html>
