<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" src="/js/jquery-3.7.1.min.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module" src="/js/bootstrap.min.js"></script>
    <script type="module" src="/js/common.js"></script>
    <script type="module" src="/js/main-page.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/main-page.css" />
    <link rel="stylesheet" href="../css/login.css" />
    <title>HappyMoney</title>
  </head>

  <body>
    <div class="hm-container">
      <header id="header_wrap"></header>
      <div id="main-content">
        <!-- 메인 배너 s -->
        <div class="main-banner-wrap">
          <div class="main-banner-contents-wrap">
            <h2>주식은 결코 어렵지 않습니다.</h2>
            <p>
              해피머니와 함께 쉽게 주식을 체험하고
              <br />
              다양한 사람들과 의견을 교류해보세요 !
            </p>
            <div class="service-btn-wrap">
              <button class="hm-button hm-sub-color">
                <a href="/views/stock_main.html"> 모의 주식 투자하기 </a>
              </button>
              <button class="hm-button hm-sub-color">
                <a href="/views/post.html"> 커뮤니티 바로가기 </a>
              </button>
            </div>
          </div>
        </div>
        <!-- 메인 배너 e -->

        <!-- 공지사항, 게시판, 뉴스 s -->
        <div class="community-services-wrap">
          <!-- 공지사항 -->
          <div class="contents-wrap nt-wrap">
            <h2 class="board-title">
              <a href="/views/notice-main.html?page=1"></a>
              공지사항
              <img src="../images/go-icon.png" style="height: 30px" />
            </h2>
            <ul class="notice-list"></ul>
          </div>
          <!-- 자유게시판 -->
          <div class="contents-wrap">
            <h2 class="board-title">
              <a href="/views/post.html?page=1"></a>
              자유 게시판
              <img src="../images/go-icon.png" style="height: 30px" />
            </h2>
            <ul class="board-list"></ul>
          </div>
        </div>
        <!-- 공지사항, 게시판, 뉴스 e -->
      </div>
      <footer id="footer_wrap"></footer>
    </div>
  </body>
</html>
