<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" src="/js/jquery-3.7.1.min.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module" src="/js/bootstrap.min.js"></script>
    <script type="module" src="/js/common.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/my-comments.css" />
    <link rel="stylesheet" href="../css/login.css" />
    <title>HappyMoney</title>
  </head>
  <body>
    <!-- 삭제 확인 팝업 s -->
    <div class="hm-dim" onclick="drPopupClose(this)"></div>
    <div class="hm-popup-wrap delete-comment-chk">
      <header>
        <h1>댓글 삭제</h1>
      </header>
      <div class="hm-popup-content">
        <p class="mt-2" style="color: #eb5665">삭제된 댓글은 다시 복구할 수 없습니다.</p>
        <p>그래도 삭제하시겠습니까?</p>
      </div>
      <footer>
        <div class="d-flex justify-content-between hm-bg-white">
          <a href="#none" class="hm-button me-2 hm-gray-color" onclick="drPopupClose(this)">취소</a>
          <a href="#none" class="hm-button ms-2" id="delete-contents" onclick="drPopupClose(this)">삭제</a>
        </div>
      </footer>
    </div>
    <!-- 계좌 만들기 팝업 e -->

    <div class="hm-container">
      <header id="header_wrap"></header>
      <div id="main-content">
        <!-- 내가 쓴 게시글 s -->
        <div class="contents-wrap">
          <div class="my-posts-header">
            <h2 class="board-title">내가 쓴 댓글</h2>
          </div>
          <ul class="board-list">
            <li class="comment" data-id="1">
              <a href="#none"></a>
              <div class="mc-contents-wrap">
                <div class="mc-info-wrap">
                  <div class="my-comments">
                    안녕하세요. 정말 반가워요! 많은 정보를 교류하며 화성으로 날아갑시다. 화이팅 !!!
                  </div>
                  <div class="comment-date">2024-01-28 00:00:00</div>
                  <div class="mc-posts">
                    <div class="posts-title">가입인사드립니다</div>
                    <img src="../images/comment.png" alt="comment-icon" class="comment-icon" />
                    <span class="comment-number">1</span>
                  </div>
                </div>
                <div class="mc-btn-wrap">
                  <button class="hm-button hm-gray-color-" onclick="drPopupOpen('.delete-comment-chk')">
                    삭제하기
                  </button>
                </div>
              </div>
              <hr />
            </li>
          </ul>
        </div>
        <!-- 내가 쓴 게시글 e -->
      </div>
      <footer id="footer_wrap"></footer>
    </div>
  </body>
</html>
