<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" src="/js/jquery-3.7.1.min.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module" src="/js/bootstrap.min.js"></script>
    <script type="module" src="/js/common.js"></script>
    <script type="module" src="/js/my-info.js"></script>
    <script type="module" src="/js/account.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/my-info.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <title>HappyMoney</title>
  </head>
  <body>
    <!-- 로그인 팝업 s -->
    <div class="hm-dim" onclick="drPopupClose(this)"></div>
    <div class="hm-popup-wrap hm-popup-login">
      <div class="hm-popup-close" onclick="drPopupClose(this)"></div>
      <div class="hm-popup-content">
        <div class="loginModal">
          <div class="loginInput">
            <div class="login">로그인</div>
            <div id="login-input-box">
              <!-- <input type="email" class="loginInputValue" id="email" placeholder="이메일 주소" />
          <input type="password" class="loginInputValue" id="password" placeholder="비밀번호" /> -->
            </div>
            <button class="loginConfirmBtn" onclick="loginConfirm()">로그인</button>
            <div class="signupExplain">
              아직 회원이 아니신가요? <a href="/views/signup.html"><span class="blue"> 회원가입</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 로그인 팝업 e -->

    <div class="hm-container">
      <header id="header_wrap"></header>
      <div id="main-content">
        <!-- 프로필 s -->
        <div class="my-info-wrap">
          <div class="profile-wrap"></div>
          <div class="my-activity-btns">
            <button class="hm-button hm-gray-color">
              <a href="/views/my-posts.html">내가 쓴 게시글</a>
            </button>
            <button class="hm-button hm-gray-color">
              <a href="/views/my-comments.html">내가 쓴 댓글</a>
            </button>
          </div>
        </div>
        <!-- 나의 계좌 s-->
        <div class="contents-wrap">
          <div class="account-header">
            <h2 class="board-title">나의 계좌</h2>
            <div class="create-btn-description">
              <button class="hm-button hm-main-color">계좌 개설</button>
              <span>* 계좌 당 3개의 계좌를 개설할 수 있습니다.</span>
            </div>
          </div>
          <ul class="accounts-list"></ul>
        </div>
        <!-- 내 정보 페이지 e -->
      </div>
      <footer id="footer_wrap"></footer>
    </div>
  </body>
</html>
