<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" src="/js/jquery-3.7.1.min.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module" src="/js/bootstrap.min.js"></script>
    <script type="module" src="/js/common.js"></script>
    <script type="module" src="/js/my-post.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/main-page.css" />
    <link rel="stylesheet" href="../css/login.css" />
    <title>HappyMoney</title>
  </head>
  <body>
    <div class="hm-container">
      <header id="header_wrap"></header>
      <div id="main-content">
        <!-- 내가 쓴 게시글 s -->
        <div class="contents-wrap">
          <div class="my-posts-header">
            <h2 class="board-title">내가 쓴 게시글</h2>
            <button class="hm-button">
              <a href="#none">글쓰기</a>
            </button>
          </div>
          <ul class="board-list"></ul>
        </div>
        <!-- 내가 쓴 게시글 e -->
      </div>
      <footer id="footer_wrap"></footer>
    </div>
  </body>
</html>
