<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" src="/js/jquery-3.7.1.min.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module" src="/js/bootstrap.min.js"></script>
    <script type="module" src="/js/common.js"></script>
    <script type="module" src="/js/notice-page.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/main-page.css" />
    <link rel="stylesheet" href="/css/notice-page.css" />
    <title>HappyMoney</title>
</head>

<body>
    <div class="hm-container">
        <header id="header_wrap"></header>
        <div id="main-content">

            <!-- 공지사항, 게시판, 뉴스 s -->
            <div class="community-services-wrap">
                <!-- 공지사항 -->
                <div class="contents-wrap">
                    <h2 class="board-title">
                        <a href="#none"></a>
                        공지사항
                    </h2>
                    <div class="notice-container">
                        <h3 class="notice-title"></h3>
                        <p class="notice-contents"></p>
                    </div>
                </div>
                <button class="hm-button hm-sub-color" id="backToList">
                    <a href="/views/notice-main.html">목록으로</a>
                </button>
            </div>
            <!-- 공지사항, 게시판, 뉴스 e -->
        </div>
        <footer id="footer_wrap"></footer>
    </div>
</body>

</html>