<!doctype html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script type="module" src="/js/jquery-3.7.1.min.js"></script>
  <script type="module" src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script type="module" src="/js/bootstrap.min.js"></script>
  <script type="module" src="/js/common.js"></script>
  <script type="module" src="/js/post-read.js"></script>
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/common.css" />
  <link rel="stylesheet" href="/css/post-read.css" />
  <title>HappyMoney</title>
</head>

<body>
  <!-- 댓글 삭제 확인 팝업 s -->
  <div class="hm-dim" onclick="drPopupClose(this)"></div>
  <div class="hm-popup-wrap delete-comment-chk">
    <header>
      <h1>댓글 삭제</h1>
    </header>
    <div class="hm-popup-content">
      <p class="mt-2" style="color: #eb5665">삭제된 댓글은 다시 복구할 수 없습니다.</p>
      <p>그래도 삭제하시겠습니까?</p>
    </div>
    <footer>
      <div class="d-flex justify-content-between hm-bg-white">
        <a class="hm-button me-2 hm-gray-color" onclick="drPopupClose(this)">취소</a>
        <a class="hm-button ms-2" id="delete-contents" onclick="drPopupClose(this)">삭제</a>
      </div>
    </footer>
  </div>
  <!-- 삭제 확인 팝업 e -->
  <!-- 본문 삭제 확인 팝업 s -->
  <div class="hm-dim" onclick="drPopupClose(this)"></div>
  <div class="hm-popup-wrap delete-post-chk">
    <header>
      <h1>게시글 삭제</h1>
    </header>
    <div class="hm-popup-content">
      <p class="mt-2" style="color: #eb5665">삭제된 게시글은 다시 복구할 수 없습니다.</p>
      <p>그래도 삭제하시겠습니까?</p>
    </div>
    <footer>
      <div class="d-flex justify-content-between hm-bg-white">
        <a class="hm-button me-2 hm-gray-color" onclick="drPopupClose(this)">취소</a>
        <a class="hm-button ms-2" id="delete-posts" onclick="drPopupClose(this)">삭제</a>
      </div>
    </footer>
  </div>
  <!-- 삭제 확인 팝업 e -->
  <div class="hm-container">
    <header id="header_wrap"></header>
    <div id="main-content">
      <div class="row" id="post-box">
        <div>
          <!-- Post content-->
          <article>
            <!-- Post header-->
            <header class="mb-4">
              <!-- Post title-->
              <h1 class="fw-bolder mb-1"></h1>
              <!-- Post meta content-->
              <div class="text-muted fst-italic mb-2"></div>
              <!-- Post categories-->
              <a class="badge bg-secondary text-decoration-none link-light" href="#!"></a>
            </header>
            <!-- Post content-->
            <section class="mb-5">
              <p class="fs-5 mb-4"></p>
            </section>
          </article>
        </div>
      </div>
      <div class="text-center pt-5">
        <button class="hm-button hm-sub-color" id="backToList">
          <a href="javascript:history.back()">목록으로</a>
        </button>
      </div>
      <div>
        <!-- Comments section-->
        <section class="mb-5">
          <div class="mt-5">
            <h4 for="comment">댓글</h4>
            <div class="form-comment" style="display: none;">
              <textarea class="form-control me-3" rows="1" placeholder="댓글을 입력하세요."></textarea>
              <button class="hm-button hm-blue-color submit-comment">등록</button>
            </div>
            <div class="card-body mt-5">
            </div>
          </div>
        </section>
      </div>


    </div>

    <!-- 공지사항, 게시판, 뉴스 e -->
  </div>
  <footer id="footer_wrap"></footer>
  </div>
</body>

</html>