<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" src="/js/jquery-3.7.1.min.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module" src="https://cdn.socket.io/4.7.4/socket.io.esm.min.js"></script>
    <script type="module" src="/js/bootstrap.min.js"></script>
    <script type="module" src="/js/common.js"></script>
    <script type="module" src="/js/stock-common.js"></script>
    <script type="module" src="/js/stock-main.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/stock_main.css" />
    <title>HappyMoney</title>
  </head>
  <body>
    <div class="hm-container">
      <header id="header_wrap"></header>
      <div id="main-content">
        <div id="stock-header"></div>
        <div class="rank-wrap">
          <h2>거래량 순위</h2>
          <ul class="rank-list-wrap"></ul>
        </div>
      </div>
      <footer id="footer_wrap"></footer>
    </div>
  </body>
</html>
