<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" src="/js/jquery-3.7.1.min.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module" src="https://cdn.socket.io/4.7.4/socket.io.esm.min.js"></script>
    <script type="module" src="/js/bootstrap.min.js"></script>
    <script type="module" src="/js/common.js"></script>
    <script type="module" src="/js/stock-common.js"></script>
    <script type="module" src="/js/stock-main.js"></script>
    <script type="module" src="/js/account.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/stock_main.css" />
    <title>HappyMoney</title>
  </head>
  <body>
    <!-- 계좌 만들기 팝업 s -->
    <div class="hm-dim" onclick="drPopupClose(this)"></div>
    <div class="hm-popup-wrap hm-account-create">
      <header>
        <h1>계좌 만들기</h1>
      </header>
      <div class="hm-popup-content">
        <div class="hm-input-wrap">
          <input type="text" class="hm-input" id="accountName" name="accountName" placeholder="계좌 이름" />
        </div>
        <p class="account-pop-text mt-2">
          ※ 계좌 이름은 <span style="color: #eb5665">최대 6글자까지</span> 작성이 가능합니다.
        </p>
        <p class="account-pop-text">
          ※ 계좌 개설 시 <span style="color: #eb5665">가상 머니 1억 원</span>을 지급해드립니다.
        </p>
        <p class="account-pop-text">※ 계좌는 계정 당 <span style="color: #eb5665">1개만</span> 개설이 가능합니다.</p>
      </div>
      <footer>
        <div class="d-flex justify-content-between hm-bg-white">
          <a href="#none" class="hm-button me-2 hm-gray-color" onclick="drPopupClose(this)">취소</a>
          <a href="#none" class="hm-button ms-2" id="accountCreate" onclick="drPopupClose(this)">만들기</a>
        </div>
      </footer>
    </div>
    <!-- 계좌 만들기 팝업 e -->

    <!-- 삭제 확인 팝업 s -->
    <div class="hm-popup-wrap delete-account-chk">
      <header>
        <h1>계좌 삭제</h1>
      </header>
      <div class="hm-popup-content">
        <p class="mt-2" style="color: #eb5665">계좌의 잔액과 거래내역은 복구할 수 없습니다.</p>
        <p>그래도 삭제하시겠습니까?</p>
      </div>
      <footer>
        <div class="d-flex justify-content-between hm-bg-white">
          <a href="#none" class="hm-button me-2 hm-gray-color" onclick="drPopupClose(this)">취소</a>
          <a href="#none" class="hm-button ms-2" id="delete-contents" onclick="drPopupClose(this)">삭제</a>
        </div>
      </footer>
    </div>
    <!-- 삭제 확인 팝업 e -->

    <div class="hm-container">
      <header id="header_wrap"></header>
      <div class="w-100">
        <article class="hm-banner-two py-5">
          <div class="hm-banner-width">
            <div class="img-wrap">
              <img src="/images/banner/contents_5.png" alt="" />
            </div>
            <div class="hm-main-txt text-white text-end">
              <h2 class="fw-bold">매 시즌 랭킹 시스템으로 재미있게!</h2>
              <p class="mt-5 fs-6">가상 계좌를 만들어 부담없이 투자해보세요 !</p>
              <p class="fs-6">수익률과 수익액을 기준으로 매 시즌 TOP 10을 선발합니다.</p>
              <p class="mt-5 fs-5 fw-bold">[시즌 1 절찬 진행중]</p>
              <p class="fs-5 fw-bold">2024.02.01 ~ 02.20</p>
            </div>
          </div>
        </article>
      </div>
      <div id="main-content">
        <div id="stock-header"></div>
        <div class="contents-wrap">
          <div class="stock-ranking-wrap mt-5 mb-5">
            <div class="stock-ranking-header mb-2">
              <h3>👑 명예의 전당</h3>
              <div class="stock-ranking-header-contents mt-3">
                <span class="ranking-season">* 시즌 1 기간 : 2024.02.01 ~ 28</span>
                <span class="criteria-date"></span>
              </div>
            </div>
            <div class="stock-ranking-body">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">순위</th>
                    <th scope="col">닉네임</th>
                    <th scope="col">계좌명</th>
                    <th scope="col">계좌번호</th>
                    <th scope="col">총 수익</th>
                    <th scope="col">수익률</th>
                    <th scope="col">총 평가 가치</th>
                  </tr>
                </thead>
                <tbody class="account-rank-list"></tbody>
              </table>
              <div class="stock-ranking-discribtion">
                <h5>[랭킹 관련 안내사항]</h5>
                <div class="stock-ranking-discribtion-contents">
                  <span
                    >* 랭킹은 매일 오전 11시
                    <span style="color: #eb5665; font-weight: bold">전날 종가 기준으로 업데이트</span>
                    됩니다.</span
                  >
                  <span
                    >* 계좌의 총 평가 가치는
                    <span style="font-weight: bold"
                      >보유하신 포인트, 대기 주문 상태의 매수 금액, 현재 보유중인 주식의 평가금액</span
                    >을 합산하였습니다.</span
                  >
                  <span
                    >* 계좌의 평가가치가 동일할 경우 계좌 생성일을 바탕으로
                    <span style="color: #eb5665; font-weight: bold">투자 기간이 짧은 순</span>으로 산정됩니다.</span
                  >
                </div>
              </div>
            </div>
          </div>
          <hr />
          <div class="account-header">
            <h2 class="board-title">나의 계좌</h2>
            <div class="create-btn-description">
              <button class="hm-button hm-main-color" id="createAccountBtn" onclick="drPopupOpen('.hm-account-create')">
                계좌 만들기
              </button>
              <span>* 계좌 당 1개의 계좌를 개설할 수 있습니다.</span>
            </div>
          </div>
          <ul class="accounts-list"></ul>
        </div>
        <div class="rank-wrap mt-5">
          <h2>인기 순위</h2>
          <ul class="rank-list-wrap"></ul>
        </div>
      </div>
    </div>
    <footer id="footer_wrap"></footer>
  </body>
</html>
