<div class="hm-footer-wrap col">
  <!-- <div class="col-md-2">
    <div class="hm-footer-logo">
      <a href="#none" class="hm-fz-20"> F4 SITTER </a>
    </div>
  </div>
  <div class="col-md-5 hm-fz-14 mt-md-0 hm-footer-adress">
    <div><b class="me-3">(주) F4SITTER</b><span>(12345) 서울특별시 관악</span></div>
    <div class="mt-3"><b class="me-2">Email.</b><span>f4@sitter.com</span></div>
  </div>
  <div class="col-md-5 text-md-end mt-md-0 hm-footer-terms hm-fw-500">
    <div class="hm-copy-right mt-3">Copyright ©2023 f4sitter Inc. All right reserved.</div>
  </div> -->
  <ul class="hm-f-list">
    <li><a href="#none">Notion</a></li>
    <li><a href="#none">GitHub</a></li>
    <li class="hm-f-main-logo">
      <a href="/views/main.html"><img class="w-100" src="/images/logo2.png" alt="footerLogo" /></a>
    </li>
    <li><a href="#none">Blog</a></li>
    <li><a href="#none">Content</a></li>
  </ul>
  <p class="hm-h-txt">모든 컨텐츠의 저작권은 Happy Money에게 있습니다.</p>
  <p>© Happy Money</p>
</div>
