<div class="hm-footer-wrap col">
  <ul class="hm-f-list">
    <li><a href="https://www.notion.so/a7ef569785744b1099a268f691db41ff" target="_blank">Notion</a></li>
    <li><a href="https://github.com/nbcamp-HappyMoney/HappyMoney" target="_blank">GitHub</a></li>
    <li class="hm-f-main-logo">
      <a href="/views/main.html"><img class="w-100" src="/images/logo2.png" alt="footerLogo" /></a>
    </li>
    <li><a href="https://github.com/orgs/nbcamp-HappyMoney/projects/3" target="_blank">Board</a></li>
    <li><a href="https://forms.gle/Sr1fSMCTT8gQjrxZ6" target="_blank">Contact</a></li>
  </ul>
  <p class="hm-h-txt">모든 컨텐츠의 저작권은 Happy Money에게 있습니다.</p>
  <p>© Happy Money</p>
</div>
