<!-- 로그인 팝업 s -->
<div class="hm-dim" onclick="drPopupClose(this)"></div>
<div class="hm-popup-wrap hm-popup-login">
  <div class="hm-popup-close" onclick="drPopupClose(this)"></div>
  <div class="hm-popup-content">
    <div class="loginModal">
      <div class="loginInput">
        <div class="login">로그인</div>
        <div id="login-input-box"></div>
        <button class="loginConfirmBtn" onclick="loginConfirm()">로그인</button>
        <div class="signupExplain">
          아직 회원이 아니신가요? <a href="/views/signup.html"><span class="blue"> 회원가입</span></a>
        </div>
        <div class="foundPasswordAndUser">
          <a href="/views/found-user.html" class="styled-link">이메일 찾기</a>
          <a href="/views/found-password.html" class="styled-link">비밀번호 찾기</a>
        </div>
      </div>
      <div class="social">
        <button id="kakaoBtn" class="socialBtn" onclick="kakaoLogin()">
          <img
            src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Ft1.daumcdn.net%2Fcfile%2Ftistory%2F99BEE8465C3D7D1214"
            style="height: 50px"
            width="250px"
          />
        </button>
        <button id="googleBtn" class="socialBtn" onclick="googleLogin()">
          <img
            src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Ft1.daumcdn.net%2Fcfile%2Ftistory%2F998689465C3D7D1217"
            style="height: 50px"
            width="250px"
          />
        </button>

        <button id="naverBtn" class="socialBtn" onclick="naverLogin()">
          <img
            src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Ft1.daumcdn.net%2Fcfile%2Ftistory%2F99580C465C3D7D130C"
            style="height: 50px"
            width="250px"
          />
        </button>
      </div>
    </div>
  </div>
</div>
<!-- 로그인 팝업 e -->

<div class="header">
  <div class="header-wrap">
    <h2>
      <a href="/views/main.html" class="img-wrap">
        <img src="/images/logo2.png" alt="logo" />
      </a>
    </h2>
    <div class="hm-input-wrap">
      <input type="text" class="hm-input" id="all_search" name="all_search" placeholder="통합검색" />
    </div>
  </div>
  <div class="sub-header-wrap">
    <div class="sub-header-box">
      <ul class="hm-hd-gnb">
        <li class="hm_on"><a href="/views/stock_main.html">모의투자</a></li>
        <li class="hm_on"><a href="/views/notice-main.html?page=1">공지사항</a></li>
        <li class="hm_on"><a href="/views/post.html?page=1">자유게시판</a></li>
        <li class="hm_on"><a href="#none">뉴스</a></li>
      </ul>
      <ul class="hm-hd-log justify-content-end w-100">
        <li>
          <div class="hm-user-off" id="loginTab" style="display: none">
            <!-- style="display: none"-->
            <button type="button" class="hm-button hm-sub-color" id="loginBtn" onclick="drPopupOpen('.hm-popup-login')">
              로그인
            </button>
          </div>
          <div class="hm-user-on" id="logoutTab" style="display: none">
            <div class="push-noti">
              <div class="hm-red-dot-right" style="display: none"></div>
              <img src="../../images/bell-icon.png" alt="bell" class="push-noti-icon" onclick="alarmOpen()" />
              <div class="hm-alarm-dim" onclick="alarmClose()"></div>
              <div class="hm-popup-alarm">
                <div class="hm-alarm-wrap">
                  <div class="hm-alarm-header">
                    <div class="hm-alarm-top">
                      <h5>알림</h5>
                      <a class="d-flex" href="/views/twit/receive-twit.html?page=1"
                        >쪽지<img class="ms-1" src="/images/twit-icon.png" alt=""
                      /></a>
                    </div>
                    <hr />
                  </div>
                  <ul class="hm-alarm-list"></ul>
                  <div class="hm-alarm-footer">
                    <button class="all-read-btn">전체읽음</button>
                    <button class="hm-button hm-gray-color delete-all-alarm">전체삭제</button>
                  </div>
                </div>
              </div>
            </div>
            <button type="button" class="hm-button hm-sub-color" id="mypageBtn">
              <a href="/views/my-info.html">마이페이지</a>
            </button>
            <button type="button" class="hm-button hm-gray-color" id="logoutBtn" onclick="logout()">로그아웃</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="hm-header-box"></div>
