<div class="header">
  <div class="header_wrap d-flex justify-content-start align-items-center">
    <h2>
      <a href="/views/main.html">
        <img src="/images/logo.png" alt="logo" />
      </a>
    </h2>
    <ul class="hm-hd-gnb">
      <li class="hm_on"><a href="#none">모의투자</a></li>
      <li><a href="#none">공지사항</a></li>
      <li><a href="#none">자유게시판</a></li>
      <li><a href="#none">뉴스</a></li>
    </ul>
    <div class="d-flex w-100 align-items-center">
      <ul class="hm-hd-log justify-content-end w-100">
        <li>
          <div class="hm-user-off d-flex" id="loginTab" style="display: none">
            <!-- style="display: none"-->
            <button type="button" class="btn btn-danger me-2" id="loginBtn" onclick="login()">로그인</button>
            <button type="button" class="btn btn-danger" id="signupBtn">
              <a href="/views/signup.html">회원가입</a>
            </button>
          </div>
          <div class="hm-user-on hm-user-off d-flex" id="logoutTab" style="display: none">
            <button type="button" class="btn btn-success me-2" id="mypageBtn">
              <a href="/page/myInfo.html">마이페이지</a>
            </button>
            <button type="button" class="btn btn-success" id="logoutBtn">
              <a href="javascript:void(0);">로그아웃</a>
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="hm-header-box"></div>
