@charset "utf-8";
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

a {
  text-decoration: none;
  color: unset;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

.hm-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#main-content {
  flex: 1;
  width: 1200px;
  margin: 0 auto;
  margin-top: 60px;
}

/* button */
.hm-main-color {
  background-color: #000f5d !important;
}
.hm-sub-color {
  background-color: #eb5665 !important;
}
.hm-button.hm-gray-color {
  background-color: #888 !important;
}

/* .hm-button:hover {
  background-color: #000f5d;
} */

.hm-button {
  position: relative;
  width: auto;
  text-align: center;
  border-radius: 5px;
  background-color: #000f5d;
  border: 0;
  color: #fff;
  padding: 0 16px;
  line-height: 32px;
  min-width: 100px;
}

/* Text field states s */
/* input */
.hm-input-wrap {
  position: relative;
  display: inline-block;
  width: 100%;
}
.hm-input-wrap .hm-input {
  width: 100%;
  height: 36px;
  padding: 12px 0;
  text-indent: 10px;
  border: 1px solid #d7d7d7;
  border-radius: 8px;
  color: #353839;
  font-size: 14px;
  font-weight: 400;
  outline-style: b;
}
input:focus,
input:focus-visible,
.hm-title-search-box input:focus,
textarea:focus,
textarea:focus-visible {
  outline: 1px solid #131414;
  border-color: #131414;
  border-radius: 8px;
}
input::placeholder {
  color: #6d727c;
  font-weight: 400;
}

/* textarea */
.hm-textarea-wrap {
  position: relative;
  display: inline-block;
  width: 100%;
}
.hm-textarea-wrap .hm-textarea {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #d7d7d7;
  font-size: 14px;
  line-height: 21px;
  border-radius: 8px;
}

/* check */
.hm-checkbox {
  position: relative;
  display: flex;
}
.hm-checkbox input[type="checkbox"] {
  display: none;
}
.hm-checkbox input[type="checkbox"] + label {
  line-height: 18px;
  padding-left: 25px;
  font-size: 14px;
  cursor: pointer;
}
.hm-checkbox input[type="checkbox"] + label::after {
  content: "";
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 0;
  left: 0;
  background: url(/images/toggle_off.png) no-repeat;
  background-size: cover;
}
.hm-checkbox input[type="checkbox"]:checked + label::after {
  content: "";
  background: url(/images/toggle_on.png) no-repeat;
  background-size: cover;
}

/* check_circle */
.hm-checkbox-wrap-circle input {
  display: none;
}
.hm-checkbox-wrap-circle input[type="checkbox"] + label span.round {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: -2px 9px 0 4px;
  font-size: 0;
  vertical-align: middle;
  background: url(../../img/btn/icon/Ellipse_190.png) no-repeat;
  cursor: pointer;
  background-size: contain;
}
.hm-checkbox-wrap-circle input[type="checkbox"]:checked + label span.round {
  background: url(../img/btn/icon/icon_vote_on.png) no-repeat;
  background-size: contain;
}
.hm-checkbox-wrap-circle {
  position: relative;
  border: 1px solid #d7d7d7;
  height: 60px;
  line-height: 60px;
  border-radius: 6px;
  padding-left: 15px;
}
.hm-checkbox-wrap-circle label {
  font-size: 15px;
  font-weight: 600;
  width: 100%;
}
.hm-checkbox-wrap-circle input {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  vertical-align: middle;
}

/* radio */
.hm-radio-wrap {
  position: relative;
}
.hm-radio-wrap input[type="radio"] {
  display: none;
}
.hm-radio-wrap input[type="radio"] + label {
  line-height: 18px;
  padding-left: 25px;
  font-size: 1.4rem;
}
.hm-radio-wrap input[type="radio"] + label::after {
  content: "";
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 0;
  left: 0;
  background: url(../img/icon/toggle_off.png) no-repeat;
  background-size: cover;
}
.hm-radio-wrap input[type="radio"]:checked + label::after {
  content: "";
  background: url(../img/icon/toggle_on.png) no-repeat;
  background-size: cover;
}

/* radio_circle */
.hm-radio-wrap-circle input {
  display: none;
}
.hm-radio-wrap-circle input[type="radio"] + label span.round {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: -2px 9px 0 4px;
  font-size: 0;
  vertical-align: middle;
  background: url(../../img/btn/icon/Ellipse_190.png) no-repeat;
  cursor: pointer;
  background-size: contain;
}
.hm-radio-wrap-circle input[type="radio"]:checked + label span.round {
  background: url(../img/btn/icon/icon_vote_on.png) no-repeat;
  background-size: contain;
}
.hm-radio-wrap-circle {
  position: relative;
  border: 1px solid #d7d7d7;
  height: 60px;
  line-height: 60px;
  border-radius: 6px;
  padding-left: 1.5rem;
}
.hm-radio-wrap-circle label {
  font-size: 1.5rem;
  font-weight: 600;
  width: 100%;
}
.hm-radio-wrap-circle input {
  width: 18px;
  height: 18px;
  margin-right: 1rem;
  vertical-align: middle;
}
/* Text field states e */

/* 팝업 s */
.hm-dim {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 110;
  display: none;
}
.hm-popup-wrap {
  position: fixed;
  background-color: #d9d9d9;
  border-radius: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 111;
  padding: 50px 45px 40px;
  color: #353839;
  display: none;
}
.hm-popup-wrap .hm-popup-close {
  position: absolute;
  top: 18px;
  right: 18px;
  background: url(../img/icon/icon_close.png);
  background-position: center;
  background-size: cover;
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.hm-popup-wrap header {
  margin-bottom: 20px;
  height: auto;
}
.hm-popup-wrap header h1 {
  font-weight: 600;
  font-size: 23px;
}
.hm-popup-wrap header p {
  font-size: 15px;
  color: #505866;
  padding-top: 3px;
}
.hm-popup-wrap .hm-popup-content {
  word-break: keep-all;
}
.hm-popup-wrap footer {
  margin-top: 30px;
}

.hm-dim.on {
  display: block;
}
.hm-popup-wrap.on {
  display: block;
}
/* 팝업 e */

/* ------header------ s */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #000f5d;
  height: 90px;
  z-index: 100;
}
.header .header-wrap {
  max-width: 1200px;
  height: 90px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header-wrap h2 {
  min-width: calc(100% - 200px);
}
.header .header-wrap h2 .img-wrap {
  display: block;
  width: 220px;
}
.header .header-wrap h2 .img-wrap img {
  width: 100%;
}
.sub-header-wrap {
  background-color: #d9d9d9;
}
.sub-header-box {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.hm-header-box {
  height: 142px;
}
.hm-hd-gnb {
  display: flex;
  line-height: 32px;
}
.hm-hd-gnb li {
  margin-right: 23px;
}
.hm-hd-gnb li a {
  margin-right: 23px;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
  color: #000f5d;
}
.hm-hd-gnb li.hm_on a {
  font-weight: 700;
}
.hm-hd-gnb li:last-child {
  margin-right: 0;
}
.hm-hd-log {
  display: flex;
}
/* 이거를 하면 알림 리스트에도 영향을 줘서 변경함! */
/* .hm-hd-log li {
  margin-left: 25px;
} */
.hm-hd-log li:first-child {
  margin-left: 0;
}
.hm-hd-log li .hm-user-off a:first-child {
  padding-right: 9px;
}
.hm-hd-log li .hm-user-off a:last-child {
  padding-left: 8px;
}
.hm-user-menu {
  cursor: pointer;
  min-width: 22px;
  width: 22px;
  height: 22px;
  display: none;
}
.hm-user-menu img {
  width: 100%;
  height: 100%;
}
.hm-popup-wrap.hm-hd-m-menu {
  width: auto !important;
  border-radius: 0;
  padding: 0;
  transform: translate(0);
  top: 0;
  left: 66px;
  right: 0;
  bottom: 0;
}
.hm-popup-wrap.hm-hd-m-menu .hm-popup-close {
  top: 80px;
  left: 30px;
  width: 23px;
  height: 23px;
}
.hm-hd-m-gnb {
  padding: 150px 0 0 30px;
}
.hm-hd-m-gnb h2 {
  width: 113px;
}
.hm-hd-m-gnb h2 img {
  width: 100%;
}
.hm-hd-m-gnb ul {
  padding-top: 55px;
}
.hm-hd-m-gnb ul li {
  padding-bottom: 28px;
}
.hm-hd-m-gnb ul li a {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.2px;
}
.hm-hd-m-gnb ul li.dr_on a {
  color: #1c8f51;
  font-weight: 700;
}
.hm-hd-m-gnb ul li:last-child a {
  color: #8d94a0;
}
.hm-hd-m-bottom {
  position: absolute;
  bottom: 50px;
  left: 30px;
  right: 30px;
}
.hm-hd-m-bottom .hm-button {
  padding: 1.3rem 0;
}

.hm-red-dot-right {
  position: relative;
}
.hm-red-dot-right::after {
  content: "";
  position: absolute;
  top: -15px;
  left: 16px;
  width: 10px;
  height: 10px;
  background-color: #ea5555;
  border-radius: 50%;
}
.hm-hd-m-bottom .hm-red-dot-right::after {
  top: -6px;
}
.hm-user-on {
  display: flex;
  align-items: center;
}
.hm-user-on > button {
  margin-left: 1rem;
}
.push-noti {
  position: relative;
  display: flex;
  align-items: center;
}
.push-noti img:hover {
  cursor: pointer;
}
.push-noti img {
  height: 22px;
}

/* --알림창-- s*/
.hm-popup-alarm {
  position: absolute;
  width: 350px;
  height: 600px;
  background-color: #fdfdfd;
  z-index: 115;
  top: 10px;
  left: 20px;
  border-radius: 15px;
  box-shadow: 5px 5px 10px #777;

  display: none;
  align-items: center;
  justify-content: center;
}

.hm-alarm-wrap {
  width: 85%;
  height: 90%;
}

.hm-alarm-header {
  width: 100%;
}

.hm-alarm-list {
  overflow: auto;
  height: 83%;
}

.hm-alarm {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hm-alarm a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.alarm-list-contnents {
  width: 95%;
}

.hm-alarm-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hm-alarm-top h5 {
  font-weight: bold;
}

.all-read-btn {
  border: none;
  background-color: transparent;
}

.alarm-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alarm-top h6 {
  font-size: 18px;
  font-weight: bold;
}

.alarm-top button {
  border: none;
  background-color: transparent;
  z-index: 200;
}

.alarm-body {
  font-size: 14px;
  margin: 0.5rem 0 0.5rem 0;
}

.alarm-body .alarm-contents {
  font-weight: bold;
}

.alarm-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 13px;
  color: #777;
}

.alarm-footer .unread {
  color: #ea5555;
}

.hm-alarm:hover {
  background-color: #d9d9d9;
}
.hm-alarm:hover hr {
  margin-top: 0px;
}

.hm-alarm-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hm-alarm-footer button {
  margin-top: 1rem;
}

.hm-alarm-dim {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 110;
  display: none;
}

/* ------header------ e */

/* ------footer------ s */
#footer_wrap {
  background-color: #000f5d;
  margin-top: 60px;
}
.hm-footer-wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hm-footer-logo {
  width: 100px;
}
.hm-footer-logo img {
  width: 100%;
}
.hm-footer-wrap span {
  color: #626262;
  line-height: 16px;
}
.hm-footer-wrap > div {
  display: inline-block;
}
.hm-footer-wrap .hm-footer-adress span {
  color: #626262;
}
.hm-footer-wrap .hm-footer-terms ul li {
  display: inline-block;
  margin-right: 7px;
}
.hm-footer-wrap .hm-footer-terms ul li:last-child {
  margin-right: 0;
}
.hm-footer-wrap .hm-footer-terms ul li a {
  font-size: 13px;
  color: #626262;
  line-height: 16px;
}
.hm-footer-wrap .hm-copy-right {
  color: #b7b7b7;
  white-space: nowrap;
}
footer.hm-container.hm-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.hm-f-list {
  display: flex;
  align-items: flex-end;
  width: 100%;
  padding: 20px 0 30px;
  border-bottom: 1px solid;
}
.hm-f-list li {
  width: 20%;
  text-align: center;
}
.hm-h-txt {
  padding: 20px 0;
}
/* ------footer------ e */

/* ------stock header------ s */
.stock-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.stock-title {
  font-weight: bold;
  font-size: 30px;
}

.stock-search-bar {
  border: solid 1px;
  border-radius: 5px;
  border-color: #797979;
  height: 30px;
  width: 300px;
}
/* ------stock header------ e */

/* 게시판 양식 s */
.my-posts-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}

.board-title {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

.board-title a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.contents {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 30px;
}

.contents a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.list-info {
  display: flex;
}

.list-info .classification {
  margin-right: 50px;
  font-weight: bold;
  width: 70px;
  display: flex;
  justify-content: center;
}

.list-info .title {
  margin-right: 10px;
}

.list-info .comment {
  display: flex;
  align-items: center;
}

.list-info .comment .hiddien {
  display: none;
}

.list-info .comment img {
  margin-right: 5px;
}

.list-info .comment span {
  margin-right: 50px;
  color: #eb5665;
}

.list-info-2 {
  display: flex;
}

.list-info-2 .author {
  width: 100px;
  display: flex;
  justify-content: center;
  margin-right: 50px;
}

.none-contents {
  width: 100%;
  color: #777;
  text-align: center;
  font-size: 18px;
}
/* 게시판 양식 e */

/* 나의 계좌 양식 s */
.account-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}

.create-btn-description {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.create-btn-description span {
  font-size: 10px;
  color: #eb5665;
  margin-top: 5px;
}

.accounts {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.accounts a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.account-name {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.account-name span {
  font-size: 25px;
  font-weight: bold;
  margin-right: 5px;
}

.account-name .modify-img {
  z-index: 1;
  cursor: pointer;
}

.account-name input {
  z-index: 3;
  width: 100%;
  height: 36px;
  padding: 12px 0;
  text-indent: 10px;
  border: 1px solid #d7d7d7;
  border-radius: 8px;
  color: #353839;
  font-size: 14px;
  font-weight: 400;
  outline-style: b;

  margin-right: 10px;
}

.account-name button {
  z-index: 3;
}

.account-left span {
  color: #a9a9a9;
  font-weight: bold;
}

.accounts-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.account-prices {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  align-items: flex-end;
}

.account-prices .ttl-price {
  font-size: 20px;
  font-weight: bold;
}

.account-prices .calculate-price {
  color: #a9a9a9;
}

.account-pop-text {
  color: #666;
  font-size: 12px;
  line-height: 20px;
}

/* 나의 계좌 양식 e */

/* 로그인 팝업 s */
.blue {
  margin-left: 5px;
  color: rgb(93, 175, 243);
}

.loginModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #d9d9d9;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  height: 600px;
  z-index: 1000;
}

.loginInput {
  margin-bottom: 10px;
}

.loginInputValue {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 7px;
  border: none;
  font-size: 12px;
  padding-left: 10px;
  height: 30px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;

  color: black;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 25px;
}

.loginConfirmBtn {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px auto;
  width: 400px;
  border-radius: 7px;
  border: none;
  font-size: 12px;
  padding-left: 10px;
  height: 30px;
  background-color: #000f5d;
}

.signupExplain {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px auto;
  font-size: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

/* passwordFound */
.foundPasswordAndUser {
  text-align: center;
}
/* passwordFound */

.styled-link {
  display: inline-block;
  margin: 10px;
  padding: 5px 10px;
  font-size: 13px;
  text-decoration: none;
  color: black;
}

/* social */
.socialBtn {
  border: none;
  background: none;
}

.social {
  display: flex;
  flex-direction: column;
}

/* social */

/* pagenation s */
#hm-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
#hm-pagination li {
  margin-right: 10px;
}
#hm-pagination li a {
  display: flex;
  width: 22px;
  height: 22px;
  background: #ddd;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
#hm-pagination li a.active {
  background-color: #000f5d;
  color: #fff;
  font-weight: bold;
}
#hm-pagination .arrow {
  background-color: transparent;
  font-weight: bold;
  transition: ease-in-out 0.1s;
  width: 12px;
}
#hm-pagination .arrow:hover {
  font-size: 19px;
}
/* pagenation e */

/* main banner s */
.hm-banner-wrap {
  width: 100%;
}
.hm-banner-wrap > article {
  width: 100%;
}
article.hm-main {
  background-color: #cee3fe;
  padding-bottom: 40px;
}
article.hm-banner-one {
  background-color: #feefe8;
}
article.hm-banner-two {
  background-color: #000f5d;
}
.hm-banner-width {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hm-main-txt {
  display: inline;
  white-space: nowrap;
}

.hm-main-btn-wrap {
  display: flex;
  width: 1000px;
  margin: 0 auto;
  transform: translateY(-60px);
}
.hm-main-btn-wrap li {
  position: relative;
  width: 30%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 360px;
  padding: 30px 0;
  border-radius: 10px;
  box-shadow: 2px 3px 6px 0 rgba(0, 0, 0, 0.25);
  transition: ease-in-out 0.3s;
}
.hm-main-btn-wrap li:last-child {
  margin-right: 0;
}
.hm-main-btn-wrap li:hover {
  transform: translateY(-15px);
}
.hm-main-btn-wrap li:nth-child(1) {
  background-color: #e8f1fe;
}
.hm-main-btn-wrap li:nth-child(2) {
  background-color: #fee8e8;
}
.hm-main-btn-wrap li:nth-child(3) {
  background-color: #fbfee8;
}
.hm-main-btn-wrap li a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.hm-main-btn-wrap li .img-wrap {
  height: 150px;
}
/* main banner e */
