body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

#fountModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 50px;
  margin-bottom: 20px;
  color: rgb(101, 181, 255);
}

.explain {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 40px;
}

#foundPasswordBtn {
  margin-top: 10px;
  background-color: rgb(101, 181, 255);
}

.foundEmail {
  margin-top: 50px;
  font-size: 10px;
}

.blue {
  color: rgb(101, 181, 255);
}
