.my-account-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 80px;
}

.my-account-top-wrap {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.my-account-value-wrap {
  display: flex;
  flex-direction: column;
}

.my-account-total {
  font-weight: bold;
  margin-bottom: 18px;
}

.my-account-value {
  font-weight: bold;
  font-size: 30px;
}

.my-account-roi {
  font-size: 20px;
}

.my-account-roi.red {
  color: #eb5665;
}

.my-account-roi.blue {
  color: #5044fa;
}

.my-stock-list-wrap h2 {
  font-weight: bold;
}

.my-account-info {
  font-size: 20px;
  font-weight: bold;
}

.my-account-info li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hold-stock-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.hold-stock-profit {
  font-size: 15px;
}

.hold-stock-profit.red {
  color: #eb5665;
}

.hold-stock-profit.blue {
  color: #5044fa;
}

.my-stock-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  position: relative;
}

.my-stock-name-box {
  display: flex;
  flex-direction: column;
}

.name-code {
  display: flex;
}

.stock-name {
  font-size: 22px;
  font-weight: bold;
  margin-right: 10px;
}

.stock-code {
  display: flex;
  align-items: flex-end;
  color: #797979;
  font-size: 12px;
}

.my-stock-counts {
  font-size: 12px;
  color: #797979;
}

.ttl-price {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  flex-direction: row-reverse;
}

.my-stock-roi {
  font-size: 12px;
  color: #eb5665;
  display: flex;
  flex-direction: row-reverse;
}

.star-stock-list li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  position: relative;
}

.star-stock-list li a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.stock-name-box {
  display: flex;
  flex-direction: column;
}

.market {
  font-size: 12px;
  color: #797979;
}

.name-code {
  display: flex;
}

.stock-name {
  font-size: 22px;
  font-weight: bold;
  margin-right: 10px;
}

.stock-code {
  display: flex;
  align-items: flex-end;
  color: #797979;
  font-size: 12px;
}

.ttl-price {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  flex-direction: row-reverse;
}

.stock-counts {
  font-size: 12px;
  color: #797979;
  display: flex;
  flex-direction: row-reverse;
}
