.my-info-wrap {
  margin-bottom: 4rem;
}

.profile-title {
  margin-bottom: 30px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.profile-contents-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.profile-left {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-size: 25px;
  font-weight: bold;
}

.profile-left span {
  margin-bottom: 5px;
}

.profile-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.my-activity-btns button {
  margin-right: 15px;
}
