.contents-wrap {
  text-align: center;
  max-width: 800px;
  padding: 20px;
  box-sizing: border-box;
  margin: 0 auto;
}

.form-group {
  text-align: left;
  margin-bottom: 20px;
  width: 100%;
}

#title {
  width: 100%;
}

.smarteditor-container {
  text-align: left;
  margin-bottom: 20px;
  width: 100%;
}

#editorTxt {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

#posting-button {
  display: block;
  margin: 0 auto;
  width: 765px;
}