.stock-dt-tit h2 {
  font-weight: bold;
}
.stock-dt-tit h2 span {
  font-size: 18px;
}
.stock-dt-tit-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.stock-dt-tit-box .price {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -1px;
}

.stock-dt-live {
  display: flex;
  flex-direction: column;
  width: 58%;
  border: 1px solid #ccc;
  font-weight: bold;
  font-size: 14px;
}
.stock-dt-live li {
  display: flex;
  height: 36px;
  box-sizing: border-box;
}
.stock-dt-live li > div {
  width: 50%;
  line-height: 36px;
  text-align: center;
}
.stock-dt-live li .price {
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.stock-dt-live li:last-child .price {
  border-bottom: 0;
}
.stock-dt-live li.title > div {
  background-color: #999;
}
.stock-dt-live li.title .amount {
  border-bottom: 1px solid #ddd;
}
.stock-dt-live .buy .price {
  background-color: #f5abb2;
  color: #ff2828;
}
.stock-dt-live .sell .price {
  background-color: #aaa;
  color: #5669c7;
}
.stock-dt-live .buy .amount {
  color: #5669c7;
}
.stock-dt-live .sell .amount {
  color: #ff2828;
}
.stock-dt-live .sell.num1 {
  border: 2px solid #222;
}
.stock-dt-live .sell.num1 .amount {
  color: #5669c7;
}
.stock-dt-cont-wrap {
  display: flex;
}
.stock-dt-right {
  width: 38%;
  margin-left: 4%;
}

.sell-buy-tab {
  display: flex;
}
.sell-buy-tab li {
  font-size: 24px;
  font-weight: bold;
  color: #ddd;
  cursor: pointer;
}
.sell-buy-tab li.buy-tab.on {
  color: #db1515;
}
.sell-buy-tab li.sell-tab.on {
  color: #405fff;
}
.sell-buy-tab li span {
  font-size: 16px;
}
.sell-buy-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 60px);
}
.percent {
  display: flex;
}
.percent li {
  background-color: #ccc;
  font-weight: bold;
  width: 23.5%;
  text-align: center;
  cursor: pointer;
  margin-right: 2%;
  border-radius: 100px;
}
.percent li:last-child {
  margin-right: 0;
}
.percent li.on {
  background-color: #222;
  color: #fff;
}
.buy-btn {
  background-color: #db1515;
}
.sell-btn {
  background-color: #405fff;
}
#fixPrice:disabled {
  background-color: #ddd;
}
