<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" src="/js/jquery-3.7.1.min.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module" src="/js/bootstrap.min.js"></script>
    <script type="module" src="/js/common.js"></script>
    <script type="module" src="/js/twit/twit-send.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/twit.css" />
    <title>HappyMoney</title>
  </head>
  <body>
    <div class="hm-container">
      <header id="header_wrap"></header>
      <div id="main-content" class="twit-content">
        <div id="stock-header"></div>
        <div class="twit-wrap" id="twitsendWrap">
          <dl class="mb-2 ms-3">
            <dt>받는사람</dt>
            <dd id="receiverPersonName">Money</dd>
          </dl>
          <hr />
          <div class="hm-textarea-wrap mt-3">
            <p style="color: #222; font-size: 14px; font-weight: bold" class="mb-2 ms-3">내용</p>
            <textarea name="" class="hm-textarea" cols="30" rows="12" id="sendContent"></textarea>
          </div>
          <div class="hm-button-wrap text-end mt-2">
            <button class="hm-button" id="sendTwit">보내기</button>
          </div>
        </div>
      </div>
      <footer id="footer_wrap"></footer>
    </div>
  </body>
</html>
